html{filter: expression(document.execCommand("BackgroundImageCache", false, true));}

#lb_mask{
	position:absolute;top:0;left:0;height:100%;min-height:100%;width:100%;background:#FFFFFF;-moz-opacity:.70; 
	filter:alpha(opacity=70);opacity:.70;
}

#lightbox{margin: 0px; width:950px; position:absolute; left: 0px; top: 0px; visibility:hidden;}

div#dp-popup{z-index:500099 !important;}

#lb_nw{width:20px;height:25px; float:left;}
#lb_n{width:280px;height:25px; float:left;}
#lb_ne{width:25px;height:25px; float:left;}

#lb_w{width:20px;height:auto; float:left;}
#lb_c{width:280px;height:auto; float:left;}
#lb_e{width:25px;height:auto; float:left;}

#lb_sw{width:20px;height:25px; float:left;}
#lb_s{repeat-x 0px bottom; width:280px;height:25px; float:left;}
#lb_se{width:25px;height:25px; float:left;}
#lb_close a:visited, #lb_close a:active, #lb_close a:hover, #lb_close a{text-decoration: none;}

#lb_title{color:#2c52a4; font-size: 20px; padding: 0px 50px 0px 5px; line-height:22px; margin:0px; text-align:left;}
#lb_content{padding:5px 5px 0px 5px; color:#666666; font-size:13px; margin-top:10px; text-align:left; min-height:125px;}

#sp_n, #sp_s, #sp_sw, #sp_nw, #sp_se, #sp_ne{width:4px; height:4px; font-size:0px; float:left;}
#sp_top, sp_bottom{font-size:0px; height: 4px;}
#sp_c{border-right: 2px solid #cccccc; border-left: 2px solid #cccccc; background:#fafafa url(images/sp_gradient.gif) repeat-x;}

#ss_n, #ss_s, #ss_sw, #ss_nw, #ss_se, #ss_ne{width:4px; height:4px; font-size:0px; float:left;}
#ss_top, ss_bottom{font-size:0px; height:4px;}
#ss_c{border-right: 2px solid #96b1e5; border-left: 2px solid #96b1e5; background:#eef3fc url(images/ss_gradient.gif) repeat-x;}



/* styles for the price breakdown */


#ssdiffDiv .pt10{padding-top: 10px; font-size: 0px; clear: both;}
#ssdiffDiv .title{font-weight:bold; font-size: 16px; margin-bottom: 4px;}
#ssdiffDiv #ss_c{padding:10px;}


/* styles for the search box */
#dottedLine{border-top:1px dashed #999999; padding-bottom:6px;}

#loginDiv a:visited, #loginDiv a:active, #loginDiv a:hover, #loginDiv a{text-decoration: none;}
.lightInfo{display: none;}